{{#link-to "currencies.new" classNames="btn btn-info new-currency"}}Create a new currency{{/link-to}}
<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Icon</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |currency|}}
        <tr>
          <td>{{currency.id}}</td>
          <td>{{currency.name}}</td>
          <td>{{currency.icon}}</td>
          <td>
            {{#link-to "currencies.edit" currency.id classNames="btn btn-primary primary"}}Edit{{/link-to}}
            <button class="btn btn-danger delete-item" {{action "openDialog" currency}}>Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{#if isModalDialogActive}}
  {{modal-window model=model  delete="delete"  close="closeDialog" title="Delete currency" isDeleteConfirm=true}}
{{/if}}
{{outlet}}
